FRONTEND_ORIGIN="Your frontend origin, e.g. http://localhost:3000"
BACKEND_ORIGIN="Your backend origin, e.g. http://localhost:4000"
DB_USER="Your database username"
DB_PASSWORD="Your database password"
DB_HOST="Your database host, e.g. localhost"
DB_PORT="Your database port, e.g. 5432"
DB_NAME="Your database name"